
body{
  @apply bg-light text-light text-center content-center flex flex-col items-center text-base w-[100%] h-[100%];
}

#root {
  @apply text-center content-center flex flex-col items-center text-base w-[100%] h-[100%];

}

button {
  border-radius: 10px;
  padding: 10px;
  border: none;
  @apply uppercase font-fantasy text-light  bg-dark-blue;
}

button:hover{
  box-shadow: 0px 0px 10px 1px white;
  @apply text-dark-blue bg-yellow;
}

.active {
  @apply bg-dark-red;
}

textarea {
  border: none;
  width: 100%;
  height: 60%;
  border-radius: 5px;
  @apply text-light bg-dark-blue;
}

.App-header, .App {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
 @apply w-[100%] h-[100%]; 

}
